In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('../data/owid-covid-data.csv')
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
250846,ZMB,Africa,Zambia,31/03/2020,35.0,0.0,4.571,NaN,NaN,NaN,...,24.7,13.938,2.0,63.89,0.584,20017670.0,NaN,NaN,NaN,NaN
250847,ZMB,Africa,Zambia,01/04/2020,36.0,1.0,3.429,NaN,NaN,NaN,...,24.7,13.938,2.0,63.89,0.584,20017670.0,NaN,NaN,NaN,NaN
250848,ZWE,Africa,Zimbabwe,20/03/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
250849,ZWE,Africa,Zimbabwe,21/03/2020,3.0,2.0,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
250850,ZWE,Africa,Zimbabwe,22/03/2020,3.0,0.0,NaN,NaN,NaN,NaN,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [4]:
df_new = pd.DataFrame(columns=["continent", "location", "weekly_hosp_admissions_per_million", "median_age", "aged_65_older", "aged_70_older", "life_expectancy"])
df_new= df.groupby(['continent', 'location'])['weekly_hosp_admissions_per_million', 'median_age', "aged_65_older", "aged_70_older", "life_expectancy"].max().reset_index()
df_new

C:\Users\clara\AppData\Local\Temp\ipykernel_21800\607435987.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_new= df.groupby(['continent', 'location'])['weekly_hosp_admissions_per_million', 'median_age'].max().reset_index()

,continent,location,weekly_hosp_admissions_per_million,median_age
0,Africa,Algeria,NaN,29.1
1,Africa,Angola,NaN,16.8
2,Africa,Benin,NaN,18.8
3,Africa,Botswana,NaN,25.8
4,Africa,Burkina Faso,NaN,17.6
...,...,...,...,...
230,South America,Paraguay,NaN,26.5
231,South America,Peru,NaN,29.1
232,South America,Suriname,NaN,29.6
233,South America,Uruguay,NaN,35.6
234,South America,Venezuela,NaN,29.0

In [5]:
df_new=df_new.dropna()
df_new

,continent,location,weekly_hosp_admissions_per_million,median_age
46,Africa,South Africa,303.604,27.3
71,Asia,Israel,393.057,30.6
80,Asia,Malaysia,488.004,29.9
93,Asia,Singapore,51.800,42.4
94,Asia,South Korea,260.461,43.4
111,Europe,Belgium,428.194,41.8
113,Europe,Bulgaria,10536.325,44.7
114,Europe,Croatia,578.244,44.0
116,Europe,Czechia,703.736,43.3
117,Europe,Denmark,494.708,42.3
119,Europe,Estonia,468.397,42.7
122,Europe,France,369.324,42.0
123,Europe,Germany,225.717,46.6
125,Europe,Greece,373.924,45.3
128,Europe,Iceland,219.636,37.3
129,Europe,Ireland,127.838,38.7
131,Europe,Italy,311.734,47.9
134,Europe,Latvia,637.537,43.9
137,Europe,Luxembourg,283.585,39.7
138,Europe,Malta,240.264,42.4
142,Europe,Netherlands,124.345,43.2
145,Europe,Norway,103.313,39.7
149,Europe,Russia,52.614,39.6
153,Europe,Slovakia,254.589,41.2
154,Europe,Slovenia,430.066,44.5
155,Europe,Spain,476.654,45.5
157,Europe,Switzerland,199.875,43.1
159,Europe,United Kingdom,439.186,40.8
197,North America,United States,455.163,38.3
225,South America,Chile,228.834,35.4

In [6]:
df_new.to_csv("../data_clean/viz10.csv")